@font-face {
  font-family: Gameplay;
  src: url("../fonts/Gameplay.ttf");
}
@font-face {
  font-family: Avocado;
  src: url("../fonts/Avocado\ Creamy.ttf");
}

  
html {
  height: 100vh;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1;
  padding-bottom: 15px;

}

.companies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}
main {
  background-color: #c5dce43d;
}

.companiesContainer {
  padding-top: 15px;

  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 1400px;
  margin: auto;
}

h1 {
  font-family: "Gameplay";
}
h2 {
  font-family: 'Raleway', sans-serif;
}
header {
  position: relative;
  text-align: center;
  height: 400px;
  justify-content: center;
  align-items: center;
  color: white;
  display: flex;
  background-color: #39393985;
}
header::before {
  background-image: url(../img/bgheader.jpg);
  width: 100%;
  height: 100%;
  display: block;
  background-size: cover;
  z-index: -1;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}
.navbar-toggler {
  border: none;
}

.navbar {
  padding: 0;
}

.btn-info {
  border-radius: 0;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  transition-duration: 0.5s;
}
.navbar-dark .navbar-left .nav-link:hover {
  color: #17a2b8;
}

footer {
  background-color:#343A40 ;
  color: white;
  text-align: center;
}


.form_container{
  width: 50%;
    margin: auto;
    margin-top: 26px;
}
.form_container h1 {
  text-align: center;
}
.form_container button{
  margin: auto;
  display: block;
}


/* BACKOFFICE */

.admin_icon, 
.icon {
  width: 25px;
}
a:hover {
  text-decoration: none;
}
.content_admin{
  margin: auto;
  width: 80%;
  margin-top:25px;
}

.table { 
  margin-top: 20px; 
  border: 1px solid rgb(207, 207, 207);
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.color-title
{
  color :#17a2b8;
}